@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

.mw {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  min-width: 300px;
}
